.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 136px;

}

header {
    background-color: #372D23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 76px;
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    height: 136px;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

ul {
    list-style: none;
}

.nav_ul {
    display: flex;
    gap: 44px;
}

.nav_li {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

}

.active,
a:hover {
    color: #ED6C30;
}

.inactive {
    color: #FCC21B;
}

section {
    height: 640px;
    position: relative;

}

.section_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.article_text {
    width: calc(762/1440*100%);
    height: 208px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: #FCC21B;
    color: white;
    position: absolute;
    font-family: Inter;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frame {
    background-color: #FFE18A;
    display: flex;
    gap: 36px;
    height: 600px;
    padding: 96px 76px;
}

.frame_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame_1 {
    position: relative;

}

.frame_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;

}

footer {
    height: 184px;
    background-color: #372D23;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 32px 76px;
    margin: auto;
}

.footer_li {
    margin-bottom: 8px;
    color: #FCC21B;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;


}

.social_ul {
    display: flex;
    gap: 20px;
}